---
---

@import "base";

body > header {

   nav a {
      color: gray;
   }
}

div.ref-element-syntax {
   > .highlight {
      border: 1px solid;
   }
}

table.ref-attribs {
   code {
      white-space: nowrap;
   }
}