---
---

@import "base";

body > header {
   
   background-color: beige;

   nav a {
      color: gray;
      margin-right: 1em;
   }
}

body > footer {
   .edit {
      float: right;
   }
}

div.ref-element-syntax {
   > .highlight {
      background-color: #ffe6ff;
   }
}

table.ref-attribs {
   code {
      white-space: nowrap;
   }
}

div.note.eg {
   background: rgba(173, 223, 255, 0.5);
   border-color: rgba(134, 207, 255, 0.7);
}