---
---

@import "base";

body > header {

   nav a {
      color: gray;
   }
}

.highlight {
   &.element-syntax {
      /*background-color: #ffccff;*/
      border: 1px solid;

      a {
         color: #00C;
      }
   }
}
