---
---

@import "base";

.container {
   max-width: 700px;
}

html {
   font-size: 21px;
}

body {

   font-family: Mate, Cardo, serif;
   letter-spacing: normal;

   //background-color: #e2e3d9;
   // background colors:
   // #d9dfe3 pale blue
   // #cfd3d7 dark pale blue
   
   > header {
      
      //background-color: rgba(255, 255, 0, 0.5);
      color: rgba(128, 56, 101, 0.5);
      
      nav {
         a {
            color: inherit;
         }
      }
   }
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Segoe UI', Roboto, sans-serif;
}

h1, h2 {
   color: darkblue;
   font-weight: 600;
}

pre {
   font-size: calc(1em - 4px);
}

article {

   div[itemprop="articleBody"] img {
      height: auto;
      max-width: 100%;
   }
   
   .footnotes {
      
      font-size: 85%;
      
      hr {
         display: none;
      }
      
      p {
         margin: 0;
      }
   }
   
   footer {
      font-size: 90%;
      color: #777;
   }
}

nav.post {
   
   font-size: 90%;
   margin-top: 15px;
   border-top: 1px dotted silver;
   background-color: rgba(228, 242, 255, 0.5);
   
   a.next, a.prev {
      display: inline-block;
   }
   
   a.prev {
      margin-right: 1em;
   }
   
   a.next {
      float: right;
      margin-left: 1em;
   }
}

div#disqus_thread {
   margin-top: 20px;
}

@media (max-width: 768px) {
   html {
      font-size: 18px;
   }
}

@media (min-width: 768px) {
   
   h1, h2 {
      //font-family: Consolas, monospace;
   }
   
   h2 {
      //font-weight: normal;
   }
   
   pre {
      //font-size: 100%;
   }
   
   *:not(pre) > code {
      //font-size: 100%;
      //background-color: rgba(0,0,0,0.04);
   }
}

@media (min-width: 1200px) {
   
   div#disqus_thread,
   nav.post {
      margin-left: -100px;
      margin-right: -100px;
   }
}
