body {
   font-family: Helvetica, arial, freesans, clean, sans-serif;
   font-size: 15px;
   line-height: 1.7;
   color: #333;
}

h1 {
   border-bottom: 1px solid #ddd;
}

h2 {
   border-bottom: 1px solid #eee;
}

article div[itemprop="articleBody"] img {
   height: auto;
   max-width: 100%;
}

code,
pre {
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   font-size: 12px;
}

.highlight {
   background: #fff;
}

.highlight pre {
   background-color: #f8f8f8;
   border: 1px solid #ddd;
   font-size: 13px;
   line-height: 19px;
   overflow: auto;
   padding: 6px 10px;
   border-radius: 3px;
   word-wrap: normal;
}

.highlight .csharp .k {
   color: blue;
}

.highlight .csharp .kt {
   color: blue;
}

.highlight .csharp .nf {
   color: #000;
   font-weight: normal;
}

.highlight .csharp .nc {
   color: #2b91af;
}

.highlight .csharp .nn {
   color: black;
}

.highlight .csharp .s {
   color: #a31515;
}

.highlight .csharp .sc {
   color: #a31515;
}