body {
   font-family: Helvetica, arial, freesans, clean, sans-serif;
   font-size: 15px;
   line-height: 1.7;
   color: #333;
}

code,
pre {
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   font-size: 12px;
}

.highlight {
   background: #fff;
}

   .highlight pre {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
      word-wrap: normal;
   }

.type-csharp .highlight .k {
   color: blue;
}

.type-csharp .highlight .kt {
   color: blue;
}

.type-csharp .highlight .nf {
   color: #000;
   font-weight: normal;
}

.type-csharp .highlight .nc {
   color: #2b91af;
}

.type-csharp .highlight .nn {
   color: black;
}

.type-csharp .highlight .s {
   color: #a31515;
}

.type-csharp .highlight .sc {
   color: #a31515;
}
