---
---

@import "base";

.container {
   max-width: 700px;
}

a, a:hover, a:focus {
   color: #00C;
}

body {
   
   background-color: #cfd3d7;
   color: #000;
   
   > header {
      
      //background-color: rgba(255, 255, 0, 0.5);
      color: rgba(128, 56, 101, 0.5);
      
      > .container {
         padding-bottom: 0;
      }
   }
}

.site-title {
   
   font-family: Consolas, monospace;
   font-size: 2.2em;
   line-height: 1.2;

   a {
      color: inherit;
   }
}

nav.main {

   font-size: 15px;

   a {
      color: inherit;
   }
}

article {

   div[itemprop="articleBody"] img {
      height: auto;
      max-width: 100%;
   }
   
   .footnotes {
      
      font-size: 85%;
      
      hr {
         display: none;
      }
      
      p {
         margin: 0;
      }
   }
   
   footer {
      font-size: 90%;
      color: #777;
   }
}

nav.post {
   
   font-size: 90%;
   margin-top: 15px;
   border-top: 1px dotted silver;
   background-color: rgba(228, 242, 255, 0.5);
   
   a.next, a.prev {
      display: inline-block;
   }
   
   a.next {
      float: right;
   }
}

div#disqus_thread {
   margin-top: 20px;
}

@media (min-width: 768px) {
   
   h1, h2 {
      font-family: Consolas, monospace;
   }
   
   h2 {
      font-weight: normal;
      color: rgba(81, 81, 81, 0.8);
   }
}

@media (min-width: 1200px) {
   
   div#disqus_thread {
      margin-left: -100px;
      margin-right: -100px;
   }
}
