---
---

ul[role="tree"] {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 ul[role="tree"] li {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 ul[role="tree"] a {
   border-color: transparent;
 }
 
 [role="treeitem"] ul {
   margin: 0;
   padding: 0;
   margin-left: 0.9em;
 }
 
 [role="treeitem"][aria-expanded="false"] > ul {
   display: none;
 }
 
 [role="treeitem"][aria-expanded="true"] > ul {
   display: block;
 }
 
 [role="treeitem"][aria-expanded="false"] > span::before {
   content: "";
   position: relative;

   display: inline-block;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.991' height='6.991'%3E%3Cpath d='M2 6.99l-.505-.504 2.99-2.99-2.99-2.99L2 0l3.495 3.495z'/%3E%3C/svg%3E");
   width: 1em;
   height: 1em;
   background-repeat: no-repeat;
   vertical-align: middle;
   background-size: 50%;
   background-position: center;
 }
 
 [role="treeitem"][aria-expanded="true"] > span::before {
   content: "";
   position: relative;
   
   display: inline-block;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.991' height='6.991'%3E%3Cpath d='M3.495 5.495L0 2l.505-.505 2.99 2.99 2.99-2.99L6.99 2z'/%3E%3C/svg%3E");
   width: 1em;
   height: 1em;
   background-repeat: no-repeat;
   vertical-align: middle;
   background-size: 50%;
   background-position: center;
 }
 
 [role="treeitem"],
 [role="treeitem"] span {
   width: 16em;
   margin: 0;
   padding: 0.125em;
   border: 2px transparent solid;
   display: block;
 }
 
 /* disable default keyboard focus styling for treeitems
    Keyboard focus is styled with the following CSS */
 [role="treeitem"]:focus {
   outline: 0;
 }
 
 [role="treeitem"].focus,
 [role="treeitem"] span.focus {
   border-color: black;
   background-color: #eee;
 }
 
 [role="treeitem"].hover,
 [role="treeitem"] span.hover {
   background-color: #ddd;
 }
 