{% assign cp_parts = page.path | split: '/' %}
{% assign cp_last = cp_parts | last %}
{% if cp_last == 'index.md' %}
   {% assign cp_parts = cp_parts | pop | push: '' %}
{% else %}
   {% assign html_last = cp_last | split: '.' | pop | push: 'html' | join: '.' %}
   {% assign cp_parts = cp_parts | pop | push: cp_last | %}
{% endif %}
{% assign current_path = cp_parts | join: '/' | prepend: '/' %}
<ul>
   {% for item in include.toc %}
   <li>
      {% if item.url %}
         {% if item.url contains '://' %}
            {% assign path = item.url %}
         {% else %}
            {% assign path = include.base_url | append: item.url %}
         {% endif %}
      <a href="{{ path }}" {% if current_path == path %}class="active"{% endif %}>{{ item.title }}</a>
      {% else %}
      <b>{{ item.title }}</b>
      {% endif %}
      {% if item.toc %}
         {% include site-toc.html toc=item.toc base_url=include.base_url %}
      {% endif %}
   </li>
   {% endfor %}
 </ul>
