<ul>
   {% for item in include.toc %}
   <li>
      {% if item.url %}
         {% if item.url contains '://' %}
            {% assign path = item.url %}
         {% else %}
            {% assign path = include.base_url | append: item.url %}
         {% endif %}
      <a href="{{ path }}" {% if page.url == path %}class="active"{% endif %}>{{ item.title }}</a>
      <!-- {% link {{ page.path }} %} -->
      {% else %}
      <b>{{ item.title }}</b>
      {% endif %}
      {% if item.toc %}
         {% include site-toc.html toc=item.toc base_url=include.base_url %}
      {% endif %}
   </li>
   {% endfor %}
 </ul>
