<ul role="{% if include.recurse %}group{% else %}tree{% endif %}">
   {% for item in include.toc %}
      {% if item.toc %}
         {% assign base_url = include.base_url | append: item.url %}
   <li role="treeitem" aria-expanded="{% if item.expanded or item.url and page.url == base_url %}true{% else %}false{% endif %}">
      <span>{{ item.title }}</span>
         {% include toc.html toc=item.toc base_url=base_url recurse=true %}
   </li>
      {% elsif item.url %}
         {% if item.url contains '://' %}
            {% assign abs_url = item.url %}
         {% else %}
            {% assign abs_url = include.base_url | append: item.url %}
            {% assign current_url = page.url %}
            {% assign last_char = item.url | slice: -1 %}
            {% if item.toc %}
            {% elsif last_char == '/' %}
               {% assign base_size = abs_url | size %}
               {% assign current_url = page.url | slice: 0, base_size %}
            {% endif %}
         {% endif %}
   <li role="none">
      <a href="{{ abs_url }}" role="treeitem"
         {% if current_url == abs_url %} class="active"{% endif %}>{{ item.title | replace: "<","&lt;" }}</a>
   </li>
      {% endif %}
   {% endfor %}
 </ul>
