<script>
document.addEventListener("DOMContentLoaded",function(e){var t,n,r,a=document.querySelectorAll("article h2"),i=[];if(Array.prototype.forEach.call(a,function(e,a){null!=e.offsetParent&&(n=e.innerHTML,r="#"+e.getAttribute("id"),t="<li><a href='"+r+"'>"+n+"</a></li>",i.push(t))}),i.length>1){var l="<nav role='navigation' class='toc'><div><h3>In this article</h3><ul>";l+=i.join(""),l+="</ul></div></nav>",document.querySelector("article header").insertAdjacentHTML("afterend",l)}});
</script>
