
$base-font-size: 16px;
$link-color: #0066c0;

html, body {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 790px;
   margin: 0 auto;
   padding: 1rem;
}

html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

body {
   font-family: Roboto, "Noto Sans", sans-serif;
   font-size: $base-font-size;
   line-height: 1.6;
   letter-spacing: .013rem;
   color: #333;
}

body > header,
body > footer {
   font-size: $base-font-size - 2px;
}

a, a:hover, a:focus {
   color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1.4;
}

h1, h2 {
   letter-spacing: -0.02em;
}

h1 {
   font-size: 2em;
   margin-top: 0;
}

h2 {
   margin-bottom: 0.5rem;
}

*[id]:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: transparent; }
}

img {
   border: 0;
}

ul {
   
   list-style-type: none;

   li:before {
      float: left;
      margin: 0 0 0 -1em;
      width: 1em;
      content: '\2022';
   }
}

p, table, div.note {
   margin-top: 0;
   margin-bottom: 1rem;
}

p {
   //text-indent: 1.5em;
}

div.note {
   font-size: $base-font-size - 2px;
}

blockquote, 
div.note {
   
   padding: .5em 1em;
   border-left-width: 6px;
   border-left-style: solid;
   
   > *:last-child {

      margin-bottom: 0;

      > *:last-child {
         margin-bottom: 0;

         > *:last-child {
            margin-bottom: 0;
         }
      }
   }
}

blockquote {
   font-size: $base-font-size + 2px;
   border-color: rgba(0, 0, 0, .1);
   margin-left: 0;
   margin-right: 0;
}

div.note {
   
   background: rgba(255, 237, 173, .5);
   border-color: rgba(255, 229, 134, .7);
   
   &.danger {
      background: rgba(253, 203, 203, .5);
      border-color: rgba(255, 134, 134, .7);
   }
}

table {
   overflow: auto;
   border-collapse: collapse;
   border-spacing: 0;
   background: #fff;
   border: 1px solid #ddd;
}

tr:nth-of-type(even) {
   background: #f9f9f9;
}

td, th {
   padding: .1em .3em;
}

thead, tfoot {
   background: whitesmoke;
}

ins {
   text-decoration: none;
   border-bottom: 1px dotted;
}

pre {
   
   font-size: $base-font-size - 2px;
   line-height: 1.4;
   padding: 1em;
   overflow: auto;
   word-wrap: normal;
   
   &.highlight {
      background-color: rgba(0, 0, 0, 0.04);
      color: #000;
      text-shadow: 0 1px rgba(255, 255, 255, 0.3);
   }
}

code {
   //text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

*:not(pre) > code {
   
   font-size: 90%;
   line-height: 1.3;
   
   /*display: inline-block;
   margin: 0;
   max-width: 100%;
   overflow: auto;
   vertical-align: middle;
   background-color: rgba(0, 0, 0, 0.04);
   color: #000;
   padding: 0 .2em;
   border-radius: 3px;*/

   word-break: break-word;
}

table code {
   word-break: initial;
}

.breadcrumbs {
   font-size: $base-font-size - 4px;
   margin-bottom: 1.5rem;
}

nav.toc {

   ul {
      padding-left: 1em;
   }

   li {

      &:before {
         content: none;
      }
   }
}

@import "highlight";
//@import "highlight-csharp";
@import "highlight-sql";

@media (min-width: 768px) {

   a, a:hover, a:focus {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #0066c0;

      /*background-image: linear-gradient(to bottom, #0275d8 50%,rgba(0,0,0,0) 50%);
      background-repeat: repeat-x;
      background-size: 2px .2em;
      background-position: 0 bottom;*/
   }
   
   a:hover, a:focus {
      color: inherit !important;
      border-bottom-color: #0066c0 !important;
   }
   
   h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
      //color: #005A9C;
   }
   
   h1 {
      //font-weight: 700;
   }
   
   h2 {
      //font-weight: 400;
   }

   b, strong {
      font-weight: 600;
   }

   pre, code {
      font-family: Consolas, "Source Code Pro", "Courier New", monospace;
      //font-size: 100%;
   }
   
   *:not(pre) > code {
      //font-size: 100%;
      //background-color: rgba(0,0,0,0.04);
   }
   
   body > header,
   body > footer,
   .breadcrumbs {
      a {
         border-bottom-color: rgba(128, 56, 101, 0.3);
         //background-image: linear-gradient(to bottom, rgba(128, 56, 101, 0.3) 50%,rgba(0,0,0,0) 50%);
      }
   }
   
   .breadcrumbs a {
      color: gray;
   }
}

@media (min-width: 1200px) {
   
   body {
      //color: #545454;
   }
   
   /*article > *[itemprop="articleBody"] {
      
      > figure,
      > table,
      > div.table-responsive,
      > pre,
      > div.highlighter-rouge {
         
         margin-left: -100px;
         margin-right: -100px;
      }
   }*/

   nav.toc {

      position: fixed;
      right: 1rem;
      top: 8rem;
      width: calc(((100% - 790px) / 2) - 2rem);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      font-size: .8em;
      word-break: break-word;

      > div {
         padding: 1rem 1.2rem;
      }

      h3 {
         margin: 0;
         color: inherit;
      }

      ul {
         padding: 0;
      }

      li {
         margin: .5em 0;
         line-height: 1.3;
      }

      a {
         color: $link-color;
         border-bottom: none;
      }
   }
}
