
$link-color: #0066c0;

html, body {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 790px;
   margin: 0 auto;
   padding: 1rem;
}

html {
   font-size: 16px;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

body {
   font-family: 'IBM Plex Sans', 'Segoe UI', Roboto, sans-serif;
   line-height: 1.6;
   color: #333;
}

body > header,
body > footer {
   font-size: calc(1rem - 2px);
}

article {
   //letter-spacing: .013rem;
}

a, a:hover, a:focus {
   color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   line-height: 1.4;
}

h1, h2 {
   letter-spacing: -0.02em;
   overflow-wrap: break-word;
}

h1 {
   font-size: 2em;
}

h2 {
   margin-bottom: 0.5rem;

   &:not(:first-child) {
      margin-top: 1.8rem;
   }
}

h3 {
   margin-top: 1.5rem;
   margin-bottom: 0.5rem;
}

*[id]:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: transparent; }
}

img {
   border: 0;
}

ul:not([role="tablist"]) {
   
   list-style-type: none;

   li:before {
      float: left;
      margin: 0 0 0 -1em;
      width: 1em;
      content: '\2022';
   }
}

p, table, div.note, pre {
   margin-top: 0;
   margin-bottom: 1rem;
}

p {
   //text-indent: 1.5em;
}

blockquote, 
div.note {
   padding: 1em;
   padding-bottom: 1px;
   border-left-width: 6px;
   border-left-style: solid;
}

blockquote {
   font-size: calc(1rem + 2px);
   border-left-color: rgba(0, 0, 0, .1);
   margin-left: 0;
   margin-right: 0;
}

div.note {
   
   font-size: calc(1rem - 2px);
   background: rgba(255, 237, 173, .5);
   border-left-color: rgba(255, 229, 134, .7);
   
   &.danger {
      background: rgba(253, 203, 203, .5);
      border-left-color: rgba(255, 134, 134, .7);
   }
}

.table-responsive {
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
}

table {
   overflow: auto;
   border-collapse: collapse;
   border-spacing: 0;
   background: #fff;
   border: 1px solid #ddd;
}

tr:nth-of-type(even) {
   background: #f9f9f9;
}

td, th {
   padding: .1em .3em;
}

thead, tfoot {
   background: whitesmoke;
}

ins {
   text-decoration: none;
   border-bottom: 1px dotted;
}

del {
   opacity: .7;
}

figure.code {
   margin: 0;

   [role="tablist"] {
      font-size: calc(1rem - 2px);
      padding: .3em .5em 0;
      border-bottom: none;
      background-color: rgba(125,123,0,0.1);
      //border-radius: .5em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }

   [role="tab"] {
      background-color: transparent !important;
      border: none !important;
      margin-bottom: 0;

      &[aria-selected="true"] {
         border-bottom: 2px solid green !important;
      }
   }

   [role="tabpanel"] {
      pre.highlight {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
      }
   }
}

.highlight mark {
   display: inline-block;
   background-color: rgba(227, 224, 44, .35);
}

pre {
   
   font-size: calc(1em - 1px);
   line-height: 1.4;
   padding: 1em;
   overflow: auto;
   word-wrap: normal;
   letter-spacing: normal;
   
   &.highlight {
      //background-color: rgba(0, 0, 0, 0.04);
      background-color: rgba(125, 123, 0, 0.05);
      color: #000;
      text-shadow: 0 1px rgba(255, 255, 255, 0.3);
      //border-radius: .5em;
   }
}

code {
   //text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

*:not(pre) > code {
   
   font-size: 90%;
   line-height: 1.3;
   color: #a52a9d;
   
   /*display: inline-block;
   margin: 0;
   max-width: 100%;
   overflow: auto;
   vertical-align: middle;
   background-color: rgba(0, 0, 0, 0.04);
   color: #000;
   padding: 0 .2em;
   border-radius: 3px;*/

   word-break: break-word;
}

table code {
   word-break: initial;
}

.breadcrumbs {
   font-size: calc(1rem - 4px);
   margin-bottom: 1.5rem;
}

nav.toc {

   ul {
      padding-left: 1em;
   }

   li {

      &:before {
         content: none;
      }
   }
}

.emoji {
   vertical-align: middle;
}

@import "highlight";
//@import "highlight-csharp";
@import "highlight-sql";

@media (min-width: 768px) {

   a, a:hover, a:focus {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #0066c0;
   }
   
   h1, h2, h3, h4, h5, h6 {
      //font-weight: normal;
      //color: #005A9C;
   }
   
   h1 {
      //font-weight: 700;
   }
   
   h2 {
      //font-weight: 400;
   }

   b, strong {
      //font-weight: 600;
   }

   pre, code {
      font-family: Consolas, "Source Code Pro", "Courier New", monospace;
      //font-size: 100%;
   }
   
   *:not(pre) > code {
      //font-size: 100%;
      //background-color: rgba(0,0,0,0.04);
   }
   
   body > header,
   body > footer {
      a {
         border-bottom-color: rgba(128, 56, 101, 0.3);
      }
   }
   
   .breadcrumbs a {
      color: gray;

      &:not(:hover):not(:focus) {
         border-bottom-color: rgba(128, 56, 101, 0.3);
      }
   }
}

@media (min-width: 1200px) {
   
   body {
      //color: #545454;
   }
   
   /*article > *[itemprop="articleBody"] {
      
      > figure,
      > table,
      > div.table-responsive,
      > pre,
      > div.highlighter-rouge {
         
         margin-left: -100px;
         margin-right: -100px;
      }
   }*/

   nav.toc {

      position: fixed;
      right: 1rem;
      top: 8rem;
      width: calc(((100% - 790px) / 2) - 2rem);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      font-size: calc(1rem - 2px);
      word-break: break-word;

      > div {
         padding: 1rem 1.2rem;
      }

      h3 {
         margin: 0;
         color: inherit;
         font-size: 1.2em;
         font-weight: 600;
      }

      ul {
         padding: 0;
      }

      li {
         margin: .5em 0;
         line-height: 1.3;
      }

      a {
         color: $link-color;
         border-bottom: none;
      }
   }
}
