
@media (max-width: 767px) {
   body.docs {
      #_docs_toc {
         display: none;
      }
   }
}

@media (min-width: 768px) {

   body > header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 999;
   }

   body.docs {
      .container {
         max-width: 1400px;
      }

      #_docs {
         display: flex;

         > #_docs_toc {
            width: 250px;
            font-size: calc(1rem - 1px);
            line-height: 1.8;
            padding-right: 1rem;

            > ul {
               position: fixed;
               padding-left: 0 !important;
            }

            ul {
               margin: 0;
               padding: 0 0 0 1rem;
               
               li {
                  > b {
                     display: inline-block;
                     margin-top: .5em;
                     font-weight: 400;
                     color: purple;
                  }
               }
            
               li:before {
                  display: none;
               }
            }

            a {
               color: rgba(0, 0, 0, .7);
               border-bottom-color: rgba(128, 56, 101, 0.3);
            }
         }

         > main {
            flex: 1 1 0;
            overflow: auto;
         }
      }
   }
}

@media (min-width: 1200px) {

   body.docs {

      article {

         [itemprop="articleBody"] {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            > .toc {
               position: static;
               width: auto;
               min-width: 200px;
               
               > div {
                  position: fixed;
               }
            }

            > .content {
               flex: 1 1 0;
               overflow: auto;
               padding-right: 1rem;
               max-width: 790px;
            }
         }
      }
   }
}
