
@import "tree";

@mixin custom-scrollbar {
   $thumb-color: rgba(0, 0, 0, .32);
   $thumb-color-hover: rgba(0, 0, 0, .52);
   
   scrollbar-width: thin;
   scrollbar-color: $thumb-color transparent;

   &::-webkit-scrollbar {
      width: 8px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $thumb-color;
   }

   &:hover {
      scrollbar-color: $thumb-color-hover transparent;

      &::-webkit-scrollbar-thumb {
         background-color: $thumb-color-hover;
      }
   }
}

ul[role="tree"] {

   li:before {
      display: none;
   }

   a {
      border-bottom-color: transparent;
   }
}

main {
   > footer {
      font-size: calc(1rem - 2px);
      color: rgba(0, 0, 0, .5);

      a {
         border-bottom-color: rgba(0, 0, 0, .3);
      }
   }
}

@media (max-width: 767px) {
   body.docs {
      nav.section-toc {
         display: none;
      }
   }
}

@media (min-width: 768px) {

   body.docs {
      //background-color: #fafbfc;
      //background-color: #f0f2f5;
      //background-color: #ededed;

      .container {
         max-width: 1500px;
      }

      > div.container {
         display: flex;
         padding-top: 0;
         padding-right: 0;

         > * {
            flex: 1 1 0;
         }
      }

      nav.section-toc {
         $padding-top: 1.6rem;

         min-width: 200px;
         //max-width: 250px;
         max-width: 17.5%;
         padding-top: $padding-top;
         font-size: calc(1rem - 1px);
         color: #525252;
         
         > ul {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: calc(100% + 1rem);
            max-height: calc(100vh - #{$padding-top});
            margin-left: -1rem; // .container padding * -1
            margin-top: $padding-top * -1;
            padding-top: $padding-top;
            overflow-y: auto;
            @include custom-scrollbar();
         }
      }

      main {
         min-width: 0; // prevent overflow
         display: flex;
         flex-direction: column;

         > footer {
            padding: 1.5rem;
         }
      }

      article {
         background-color: #fff;
         border-left: 1px solid;
         border-bottom: 1px solid;
         //border-color: #e0e1ef;
         border-color: rgba(0, 0, 0, .17);
         padding: 1.5rem;
         padding-left: 2rem;
         flex: 1 1 0;

         [itemprop="articleBody"] {
            > .content {
               padding-right: .5rem;
            }
         }
      }
   }

   ul[role="tree"] {
      a[role="treeitem"] {
         &.active {
            font-weight: 600;
            background-color: rgba(0, 0, 0, .07);
            color: #525252;
         }
      }
   }

   b, strong {
      //font-weight: 600;
   }

   h1, h2, h3 {
      font-weight: 500;
      //font-weight: 400;
   }

   h1 {
      font-size: 2.3rem;
   }

   h2 {
      font-size: 1.8rem;
   }

   h3 {
      font-size: 1.4rem;
   }
}

@media (min-width: 1200px) {

   body.docs {

      article {

         [itemprop="articleBody"] {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            > nav.toc {
               position: static;
               width: auto;
               min-width: 200px;
               max-width: 250px;
               padding-left: 1rem;
               
               > div {
                  position: -webkit-sticky;
                  position: sticky;
                  top: 10px;
                  padding: 0;
                  max-height: calc(100vh - 10px);
                  overflow-y: auto;
                  @include custom-scrollbar();
               }
            }

            > .content {
               flex: 1 1 0;
               overflow: auto;
               max-width: 790px;
               padding-right: 2rem;
            }
         }
      }
   }
}

div.note {
   font-size: calc(1rem - 1px);
   background-color: transparent !important;
   border-radius: 2px;
   border-left-width: 4px;
   border-left-color: rgba(236, 193, 37, .7);
   box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
   page-break-inside: avoid;

   h6 {
      font-size: 1em;
      color: #111;
      font-weight: bold;
      padding: .7em 1em;
      margin: -1em;
      margin-bottom: 1em;
      background: rgba(255, 237, 173, .5);
   }

   &.danger {
      border-left-color: rgba(237, 53, 53, .7);

      h6 {
         background: rgba(253, 203, 203, .5);
      }
   }

   &.eg {
      border-left-color: rgba(63, 166, 234, .7);

      h6 {
         background: rgba(207, 236, 255, .5);
      }
   }

   &.tip {
      border-left-color: #00bfa5;

      h6 {
         background: rgba(0, 191, 165, .1);
      }
   }
}
