
@media (min-width: 768px) {

   body > header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 999;
   }

   body.docs {
      .container {
         max-width: 1400px;
      }

      #_docs {
         display: flex;

         > #_docs_toc {
            width: 200px;
         }

         > main {
            flex: 1;
            overflow: auto;

            article {

               *[itemprop="articleBody"] {
                  display: flex;
                  flex-direction: row-reverse;

                  > .toc {
                     position: initial;
                     width: initial;
                     min-width: 200px;
                  }

                  > .content {
                     flex: 1;
                     overflow: auto;
                  }
               }
            }
         }
      }
   }
}
