.highlight {
   code.language-csharp {
      .k { color: blue; }
      .kt { color: blue; }
      .nf { color: inherit; }
      .nc { color: #2b91af; }
      .nn { color: inherit; }
      .s { color: #a31515; }
      .sc { color: #a31515; }
   }
}
