---
---
@import "base";

body > header,
body > footer {
   background-color: rgba(152, 251, 152, 0.5);
}

body > header {
   
   .container {
      padding-top: .5em;
      padding-bottom: .5em;
   }

   nav a {

      color: gray;
      margin-left: 1em;
      
      &:first-child {
         display: inline-block;
         width: 48px;
         height: 42px;
         background-image: url(../nuget/icon.png);
         background-size: 48px;
         background-position-y: -4px;
         border-bottom: none;
         text-indent: -999em;
         vertical-align: middle;
         margin-left: 0;
      }
   }
}

body > footer {
   
}

.issue-header {
   font-size: 90%;
   color: gray;
}

.issue-comment {
   
   margin-bottom: 1em;
   
   .issue-message {
      background-color: #f1f1f1;
      padding: .5em;
   }
}

@media (min-width: 768px) {
   
   $footer-height: 120px;

   html {
      position: relative;
      min-height: 100%;
   }

   body {
      margin-bottom: $footer-height;
   }
   
   body > footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer-height;
   }
}
