---
---
@import "base";

$footer-height: 120px;

body > header {

   nav a {

      color: gray;

      &.donate {
         float: right;
      }
   }
}

body > footer {
   background-color: aliceblue;
   text-align: center;
}

h1 {
   margin-top: 0;
}

@media (min-width: 768px) {

   html {
      position: relative;
      min-height: 100%;
   }

   body {
      margin-bottom: $footer-height;
   }
   
   body > footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer-height;
   }
}
