---
---
@import "base";
@import "docs";

$logo-height: 38px;
$footer-height: 120px;
$header-padding-tb: .4em;
$header-height: calc(#{$logo-height} + #{$header-padding-tb * 2});

body > header {

   //background-color: #265899;
   background-color: #1a4c8e;
   color: #fff;

   a, a:hover, a:focus {
      color: inherit;
   }
   
   .container {
      padding-top: $header-padding-tb;
      padding-bottom: $header-padding-tb;
   }

   nav a {

      margin-left: 1em;
      
      &:first-child {
         display: inline-block;
         width: 48px;
         height: $logo-height;
         background-image: url(../nuget/icon.png);
         background-size: 48px;
         background-position-y: -4px;
         border-bottom: none;
         text-indent: -999em;
         vertical-align: middle;
         margin-left: 0;
         filter: invert(1) hue-rotate(186grad);
      }

      &.github, &.donate {
         float: right;
         margin-top: .7em;
         border-bottom: none;
      }
      
      &.github img {
         height: 22px;
         filter: invert(1);
      }
   }
}

article.api {
   tr.inherited {
      color: gray;

      a {
         color: inherit;
      }
   }
}

body > footer {
   //border-top: 1px solid #e0e1ef;
   background-color: rgba(187, 206, 222, .3);
}

@media (max-width: 767px) {
   
   body > header {
      a.donate {
         display: none;
      }
   }
}

@media (max-width: 1199px) {

   article.api {
      nav.toc {
         display: none;
      }
   }
}

@media (min-width: 768px) {
   
   html {
      position: relative;
      min-height: 100%;
   }

   body {
      //margin-bottom: $footer-height;

      &.sticky-header {
         > header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 999;
         }

         // See <https://stackoverflow.com/a/28824157/39923>
         :target::before {
            content: "";
            display: block;
            height: $header-height;
            margin: calc(#{$header-height} * -1) 0 0;
         }
      }
   }

   body > header {
      a {
         border-bottom-color: rgba(255, 255, 255, 0.3);

         &:hover, &:focus {
            border-bottom-color: #fff;
         }
      }
   }
   
   body > footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer-height;
   }
}

@media (min-width: 1200px) {

   body.sticky-header {

      article {

         [itemprop="articleBody"] {

            > nav.toc {
               > div {
                  top: 70px;
               }
            }
         }
      }
   }
}
