---
---

@import "base";

body > header {

   nav a {
      color: gray;
   }
}

a, a:hover, a:focus {
   color: #08975c;
   text-decoration: none;
   background-image: none;
}

a:hover {
   background-color: #d1ede8;
}

@media (min-width: 768px) {

   h1, h2, h3, h4, h5, h6 {
      color: inherit;
      font-weight: bold;
   }
}
