<!DOCTYPE html>
{% assign baseurl = page.path | split: '/' | first | prepend: '/' %}
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{{ page.title }}{% unless page.omit_site_title %} — DbExtensions{% endunless %}</title>
   <link href="{{ baseurl }}/css/site.css" rel="stylesheet"/>
   <link rel="shortcut icon" href="{{ baseurl }}/favicon.ico"/>
   <link rel="apple-touch-icon" href="{{ baseurl }}/apple-touch-icon.png"/>
   <link href="/lib/tabby-12.0.3/dist/css/tabby-ui.min.css" rel="stylesheet"/>
   {% include article-toc.html %}
   {% include font-sans.html %}
   {% include analytics.html %}
</head>
<body class="docs{% if page.sticky_header %} sticky-header{% endif %}">
   <header>
      <nav class="container">
         <a href="{{ baseurl }}/" title="DbExtensions">home</a>
         <a href="{{ baseurl }}/docs/">documentation</a>
         <a href="{{ page.support_url }}">support</a>
         <a href="{{ baseurl }}/about.html">about</a>
         <a class="donate" href="/p/donate.html">
            <img src="/img/btn_donate_SM.gif" alt="Donate"/>
         </a>
         <a class="github" href="{{ page.repository_url }}" title="GitHub">
            <img src="https://github.com/favicon.ico" alt="GitHub"/>
         </a>
      </nav>
   </header>
   <script src="/lib/tabby-12.0.3/dist/js/tabby.min.js"></script>
   {{ content }}
   <footer>
      <div class="container">&copy; {{ site.author }}</div>
   </footer>
   <script src="/js/hl-line.js"></script>
</body>
</html>
