---
layout: DbExtensions-base
---
{% assign cp_parts = page.path | split: '/' %}
{% assign api_docs = page.api_docs %}
<div class="container">
   <nav class="section-toc">
      <div id="version-selector">
         <b>Version </b>
         <select onchange="window.location.href=this.value">
            <option value="{{ page.base_url }}docs/7/" {% if cp_parts[2] == '7' %}selected{% endif %}>7</option>
            <option value="{{ page.base_url }}docs/6/" {% if cp_parts[2] != '7' %}selected{% endif %}>6</option>
         </select>
      </div>
      {% if page.toc %}
         {% assign toc = site.data[page.toc] %}
         {% if toc %}
            {% include toc.html toc=toc base_url=page.toc_base_url %}
         {% endif %}
      {% endif %}
   </nav>
   <main>
      <article {% if api_docs %}class="api"{% endif %}>
         <header>
            {% if cp_parts[1] == 'docs' %}
               {% assign url_parts = page.url | split: '/' %}
               {% assign path_parts = '' | split: '' %}
               {% assign offset = 2 %}
               {% assign size = url_parts.size %}
               {% assign end = size | minus: 2 %}
               {% assign crumbs = size | minus: offset %}
               {% if crumbs > 1 %}
            <nav class="breadcrumbs">
                  {% for i in (offset..end) %}
                     {% assign path_parts = path_parts | push: url_parts[i] %}
               <a href="{{ url_parts | slice: 0,offset | concat: path_parts | join: '/' }}/">{{ url_parts[i] }}</a>&nbsp; /&nbsp;
                  {% endfor %}
               <span>{{ page.title }}</span>
            </nav>
               {% endif %}
            {% endif %}
            {% unless api_docs %}
            <h1>{{ page.title }}</h1>
            {% endunless %}
         </header>
         <div itemprop="articleBody">
            <div class="content">
               {{ content }}
            </div>
         </div>
      </article>
      <footer>&copy; {{ site.author }}</footer>
   </main>
   <script src="/js/tree.js"></script>
   <script>
      (function(d) {
         var toc = d.querySelector('nav.section-toc ul[role="tree"]');

         if (toc) {
            var tree = new TreeLinks(toc);
            tree.init();

            var active = toc.querySelector('a.active');
            
            if (active) {
               var currentNode = active;
               while ((currentNode = currentNode.parentNode.closest('li[role="treeitem"]')) != null) {
                  currentNode.setAttribute('aria-expanded', 'true');
               }
            }
         }
      })(document);
   </script>
   {% if api_docs %}
   <script>
      [].filter.call(document.getElementsByTagName('td'), t => t.innerText.includes("(Inherited from "))
         .forEach(t => t.parentNode.classList.add('inherited'));
   </script>
   {% endif %}
</div>
