---
layout: DbExtensions-base
---
<div class="container">
   <nav class="section-toc">
      {% assign cp_parts = page.path | split: '/' %}
      {% if cp_parts.size >= 3 %}
         {% assign section_base = '/' | append: cp_parts[0] | append: '/' | append: cp_parts[1] | append: '/' %}
         {% assign section = cp_parts[1] %}
         {% assign toc = site.data.DbExtensions_toc[section] %}
         {% include section-toc.html toc=toc base_url=section_base %}
      {% endif %}
   </nav>
   <main>
      {% if cp_parts[1] == 'docs' and cp_parts[2] == 'api' %}
         {% assign url_parts = page.url | split: '/' %}
         {% assign path_parts = '' | split: '' %}
         {% assign offset = 4 %}
         {% assign crumbs = url_parts.size | minus: offset %}
         {% if crumbs > 1 %}
         <nav class="breadcrumbs">
            {% for i in (offset..crumbs) %}
               {% assign item = url_parts[i] | split: '/' %}
               {% assign path_parts = path_parts | concat: item %}
            <a href="{{ page.base_url }}{{ path_parts | join: "/" }}/">{{ url_parts[i] | capitalize }}</a>&nbsp; /&nbsp;
            {% endfor %}
            <span>{{ url_parts | last | split: '.' | first }}</span>
         </nav>
         {% endif %}
      {% endif %}
      <article>
         {% unless page.omit_h1 %}
         <header>
            <h1>{{ page.title }}</h1>
         </header>
         {% endunless %}
         <div itemprop="articleBody">
            <div class="content">
               {{ content }}
            </div>
         </div>
      </article>
   </main>
</div>
