<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{{ page.title }}{% if page.omit_site_title == nil or page.omit_site_title == 'no' %} — DbExtensions{% endif %}</title>
   <link href="{{ page.base_url }}css/site.css" rel="stylesheet"/>
   <link rel="shortcut icon" href="{{ page.base_url }}favicon.ico"/>
   <link rel="apple-touch-icon" href="{{ page.base_url }}apple-touch-icon.png"/>
   {% include_relative _analytics.html %}
</head>
<body>
   <header>
      <div class="container">
         <nav>
            <a href="{{ page.base_url }}" title="DbExtensions">home</a>
            <a href="{{ page.base_url }}docs/">documentation</a>
            <a href="{{ page.support_url }}">support</a>
            <a href="{{ page.repository_url }}">github</a>
            <a class="donate" href="/p/donate.html">
               <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate"/>
            </a>
         </nav>
      </div>
   </header>
   <div class="container">
      <article>
         <header>
            <h1>{{ page.title }}</h1>
         </header>
         {{ content }}
      </article>
   </div>
   <footer>
      <div class="container">

      </div>
   </footer>
</body>
</html>
