---
layout: DbExtensions-base
---
<div class="container">
   <nav class="section-toc">
      {% assign cp_parts = page.path | split: '/' %}
      {% if cp_parts.size >= 3 %}
         {% assign section_base = '/' | append: cp_parts[0] | append: '/' | append: cp_parts[1] | append: '/' %}
         {% assign section = cp_parts[1] %}
         {% assign toc = site.data.DbExtensions_toc[section] %}
         {% include section-toc.html toc=toc base_url=section_base %}
      {% endif %}
   </nav>
   <main>
      <article>
         {% unless page.omit_h1 %}
         <header>
            {% if cp_parts[1] == 'docs' and cp_parts[2] == 'api' %}
               {% assign url_parts = page.url | split: '/' %}
               {% assign path_parts = '' | split: '' %}
               {% assign crumbs = url_parts.size | minus: 4 %}
               {% if crumbs > 1 %}
               <nav class="breadcrumbs">
                  {% for i in (4..url_parts.size) %}
                     {% assign item = url_parts[i] | split: '/' %}
                     {% assign path_parts = path_parts | concat: item %}
                  <a href="{{ page.base_url }}{{ path_parts | join: '/' }}/">{{ url_parts[i] | capitalize }}</a>&nbsp; /&nbsp;
                  {% endfor %}
                  <span>{{ url_parts | last | split: '.' | first }}</span>
               </nav>
               {% endif %}
            {% endif %}
            <h1>{{ page.title }}</h1>
         </header>
         {% endunless %}
         <div itemprop="articleBody">
            <div class="content">
               {{ content }}
            </div>
         </div>
      </article>
   </main>
</div>
