<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
   <link href="/css/site.css" rel="stylesheet"/>
   {% if page.feed %}
   <link href="{{ page.feed }}" rel="alternate" type="application/atom+xml"/>
   {% endif %}
   {% include analytics.html %}
</head>
<body>
<header>
   <div class="container">
      <div class="site-title"><a href="/">{{ site.title }}</a></div>
      <nav>
         <a href="/">home</a>
         &nbsp;<a href="/p/about-me.html">about</a>
         &nbsp;<a href="{{ site.feed }}">feed</a>
      </nav>
   </div>
</header>
<div class="container">
   {{ content }}
</div>
</body>
</html>
