<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{{ page.title }}</title>
   <link href="/MvcAccount/css/site.css" rel="stylesheet"/>
   <link rel="shortcut icon" href="/MvcAccount/favicon.ico"/>
   <link rel="apple-touch-icon" href="/MvcAccount/apple-touch-icon.png"/>
</head>
<body>
<div class="container">
   <header class="main">
      <nav>
         <a href="/MvcAccount/">home</a>
         · <a href="{{ page.repository_url }}/blob/master/docs/README.md">documentation</a>
         · <a href="{{ page.repository_url }}/issues?q=is%3Aissue+label%3Aquestion">support</a>
         · <a href="{{ page.repository_url }}">github</a>
         <a class="donate" href="/p/donate.html">
            <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate"/>
         </a>
      </nav>
   </header> 
   <article>
      <header>
         <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
   </article>
</div>
</body>
</html>
