<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{{ page.title }}{% unless page.omit_site_title %} — MvcCodeRouting{% endunless %}</title>
   <link href="{{ page.base_url }}css/site.css" rel="stylesheet"/>
   <link rel="shortcut icon" href="{{ page.base_url }}nuget/icon.png"/>
   {% include analytics.html %}
</head>
<body>
   <header>
      <nav class="container">
         <a href="{{ page.base_url }}" title="MvcCodeRouting">home</a>
         <a href="{{ page.documentation_url }}">documentation</a>
         <a href="{{ page.base_url }}issues/">issues</a>
         <a href="{{ page.base_url }}discussions/">discussions</a>
         <a href="{{ page.repository_url }}">github</a>
      </nav>
   </header>
   <article class="container">
      <header>
         {% assign url_parts = page.url | split: "/" %}
         {% assign path_parts = "" | split: '-' %}
         {% assign crumbs = url_parts.size | minus: 2 %}
         {% if crumbs > 1 %}
         <nav class="breadcrumbs">
            {% for i in (2..crumbs) %}

            <a href="{{ page.base_url }}{{ path_parts | join: "/" }}">{{ url_parts[i] | capitalize }}</a>&nbsp; /&nbsp;
            {% endfor %}
            <span>{{ page.title }}</span>
         </nav>
         {% endif %}
         <h1>{{ page.title }}</h1>
      </header>
      <div itemprop="articleBody">
         {{ content }}
      </div>
   </article>
   <footer>
      <div class="container">&copy; {{ site.author }}</div>
   </footer>
</body>
</html>
