<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{{ page.title }}</title>
   <link href="{{ page.base_url }}css/site.css?v=170805" rel="stylesheet"/>
   <link rel="shortcut icon" href="{{ page.base_url }}favicon.ico" />
   {% include analytics.html %}
</head>
<body>
   <header>
      <nav class="container">
         <a href="{{ page.base_url }}">home</a>
         <a href="{{ page.documentation_url }}">documentation</a>
         <a href="{{ page.base_url }}support.html">support</a>
         <a href="{{ page.repository_url }}">github</a>
      </nav>
   </header>
   <div class="container">
      {{ content }}
   </div>
   <footer>
      <div class="container">
         &copy; {{ site.author }}
         {% if page.edit_link %}
            {% if page.element_ref %}
               {% assign path_parts = page.path | split: '/' %}
               {% assign new_path = (path_parts | pop | push: (path_parts | last | prepend: '_')) | join: '/' %}
            {% endif %}
            <a class="edit" href="{{ site.github.repository_url }}/blob/master/{% if new_path %}{{ new_path }}{% else %}{{ page.path }}{% endif %}">Edit Page</a>
         {% endif %}
      </div>
   </footer>
</body>
</html>
