<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>{{ page.title }}</title>
   <link href="{{ page.base_url }}css/site.css?v=170805" rel="stylesheet" />
   <link rel="shortcut icon" href="{{ page.base_url }}favicon.ico" />
   <link href="/lib/tabby-12.0.3/dist/css/tabby-ui.min.css" rel="stylesheet"/>
   {% include font-sans.html %}
   {% include analytics.html %}
</head>
<body class="docs{% if page.sticky_header %} sticky-header{% endif %}">
   <header>
      <nav class="container">
         <a href="{{ page.base_url }}">home</a>
         <a href="{{ page.documentation_url }}">documentation</a>
         <a href="{{ page.base_url }}support.html">support</a>
         <a class="github" href="{{ page.repository_url }}" title="GitHub">
            <img src="https://github.com/favicon.ico" alt="GitHub" />
         </a>
      </nav>
   </header>
   <script src="/lib/tabby-12.0.3/dist/js/tabby.min.js"></script>
   {{ content }}
   {% unless page.article_toc == false %}
   <script src="/js/article-toc.js"></script>
   {% endunless %}
   <script src="/js/hl-line.js"></script>
</body>
</html>
