---
layout: XCST-base
edit_link: true
---
<article>
   <header>
      <nav class="breadcrumbs">
         <a href="{{ page.documentation_url }}">Documentation</a>&nbsp; /&nbsp;
         {% if page.element_ref %}
         <a href="{{ page.documentation_url }}elements-ref.html">XCST Elements Reference</a>&nbsp; /&nbsp;
         {% endif %}
         <span>{{ page.title }}</span>
      </nav>
      <h1>{{ page.title }}</h1>
   </header>
   <div itemprop="articleBody">
      {{ content }}
   </div>
</article>
