---
layout: XCST-base
---
<div class="container">
   <nav class="section-toc">
      {% if page.toc %}
         {% assign toc = site.data[page.toc] %}
         {% if page.toc %}
            {% include toc.html toc=toc base_url=page.toc_base_url %}
         {% endif %}
      {% endif %}
   </nav>
   <main>
      <article>
         <header>
            {% if page.element_ref %}
            <nav class="breadcrumbs">
               <a href="{{ page.documentation_url }}">Documentation</a>&nbsp; /&nbsp;
               {% if page.element_ref %}
                  {% assign path_parts = page.path | split: '/' %}
                  {% if path_parts.last != 'index.md' %}
               <a href=".">{% if (path_parts[1] == 'a') %}Application Extension Elements{% else %}XCST Elements{% endif %}</a>&nbsp; /&nbsp;
                  {% endif %}
               {% endif %}
               <span>{{ page.title }}</span>
            </nav>
            {% endif %}
            <h1>{{ page.title }}</h1>
         </header>
         <div itemprop="articleBody">
            <div class="content">
               {{ content }}
            </div>
         </div>
      </article>
      <footer>
         &copy; {{ site.author }}
         {% if page.edit_link %}
            {% if page.element_ref or page.path == 'XCST/docs/standard-attributes.md' %}
               {% assign path_parts = page.path | split: '/' %}
               {% assign new_last = path_parts | last | prepend: '_' %}
               {% assign new_parts = path_parts | pop | push: new_last %}
               {% assign new_path = new_parts | join: '/' %}
            {% endif %}
         <a class="edit" href="{{ site.github.repository_url }}/edit/master/{% if new_path %}{{ new_path }}{% else %}{{ page.path }}{% endif %}">Edit Page</a>
         {% endif %}
      </footer>
   </main>
   <script src="/js/tree.js"></script>
   <script>
      (function(d) {
         var toc = d.querySelector('nav.section-toc ul[role="tree"]');

         if (toc) {

            var tree = new TreeLinks(toc);
            tree.init();

            var active = toc.querySelector('a.active');
            
            if (active) {
               
               var currentNode = active;
               
               while ((currentNode = currentNode.parentNode.closest('li[role="treeitem"]')) != null) {
                  currentNode.setAttribute('aria-expanded', 'true');
               }

               var clientHeight = toc.clientHeight;
               var halfHeight = Math.round(clientHeight / 2);
               var offsetTop = active.offsetTop;
               
               if (offsetTop > halfHeight) {
                  toc.scrollTop = halfHeight;
               }
            }
         }
      })(document);
   </script>
</div>
